.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 5rem;
}

.headersections {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
